/* Compatible Unit Home */
.top25 {
	margin-top: 25px !important;
}

.top10 {
	margin-top: 10px !important;
}

.left10 {
	margin-left: 10px !important;
}

.right10 {
	margin-right: 10px !important;
}

.left25 {
	margin-left: 25px !important;
}

.spacing { 
	width: 100px !important;
	margin-top: 10px !important;
}

/* Create Compatible Unit View */

.orangeButton>.sapMBtnInner{
	background: linear-gradient(to bottom, #ffb253,#ffb253) !important;
	font-shadow: 0 0px 0 #ffffff !important;
}

.blueButton{
	background: #00c8f8 !important;
	font-shadow: 0 0px 0 #ffffff !important;
}

.bottomButton{
	margin-top: 5px !important;
	margin-right: 10px !important;
}

.sapUiRespGridBreak{
	padding-bottom: 15px !important;
}

/*Change Compatible Unit View */

.sapUiFormResGridLbl.sapUiRespGridBreak.sapUiRespGridSpanL3.sapUiRespGridSpanM3.sapUiRespGridSpanS12{
	padding-top:0px !important;
	padding-bottom:10px !important;
},

.float-right {
	float: right;
}