/* Compatible Unit Home */
.noVPadHLay>.sapUiHLayoutChildWrapper{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.top25 {
	margin-top: 25px !important;
}

.top10 {
	margin-top: 10px !important;
}

.left10 {
	margin-left: 10px !important;
}

.right10 {
	margin-right: 10px !important;
}

.right20{
	margin-right: 20px !important;
}

.left25 {
	margin-left: 25px !important;
}

.spacing { 
	width: 100px !important;
	margin-top: 10px !important;
}

.left105{
	margin-left:105px !important;
}
.left5{
	margin-left:5px !important
	padding-left:5px !important;
}

/* Create Compatible Unit View */

.bottom10{
	margin-bottom:20px !important;
}


.tableButton{
	margin-bottom: 5px !important;
	margin-right: 10px !important;
}

.sapUiRespGridBreak{
	padding-bottom: 15px !important;
}

/*Change Compatible Unit View */

.sapUiFormResGridLbl.sapUiRespGridBreak.sapUiRespGridSpanL3.sapUiRespGridSpanM3.sapUiRespGridSpanS12{
	padding-top:0px !important;
	padding-bottom:10px !important;
}

.float-right {
	float: right;
}

.sapMBtnContent.buttonStyle{
	background-color:red !important;
}

.sapUiHLayoutChildWrapper{
	padding-left:35px !important;
}
.sapUiHLayoutChildWrapper{
	padding-top:25px !important;
}
/*.sapMBtnDefault.sapMBtnInner{
	color:red !important;
}
.buttonStyle.sapMBtn.sapMBtnBase{
	color:red !important;
}*/
/*.sapUiTableHdr.tableHeaderStyle{
	font-size:5px !important;
	font-weight:normal !important;
}*/