/* Shell CSS */
.sapUiUx3NavBarItem{  /* Increase Header list Items font size */
	font-size:15pt!important;
}

#myShell-logoImg {
	width:120px;

}

.sapUiUx3NavBar {  /* Make the header Orange */
	background-color: orange;
}

#myShell-facetBar-list { /* make just the sub header background black */
	background-color: black !important;
}

#myShell-facetBar {  /* make just the sub header background black, yes both are needed */
	background-color: black !important;
}

.sapUiUx3NavBarItem {  /* Makes all header links white  */
	color: white !important;
	margin-left: 20px !important;
	margin-right: 20px !important;
}

#myShell-canvas {  /* make the background of all screens white */
	background-color: white !important;
}

/* Global View CSS */

/* Ugly, redacted
.orangeButton{
	background: #ffb253 !important;
	font-shadow: 0 0px 0 #ffffff !important;
}

.blueButton{
	background: #00c8f8 !important;
	font-shadow: 0 0px 0 #ffffff !important;
}*/

.bgBlue{
	background-color: lightblue !important;
}

.bgBeige{
	background-color: beige !important;
}

.rLabel{ /* right align labels for text fields */
	text-align: right !important;
	margin-right: 5px !important;
}

.float-right {
	float: right;
}

.center {
	margin-left: 40% !important;
	margin-right: 40% !important;
}

.right10 {
	margin-right: 10px !important;
}

.top10 {
	margin-top: 10px !important;
}
.bottom10{
	margin-bottom:10px !important;
}