#iddesign_dashboard1--title2, #iddesign_dashboard1--title1, #iddesign_dashboard1--title3{
	font-size: 125%;
	font-weight: bold;

}

#iddesign_dashboard1--table1{
	font-size : 125%;
	font-weight:bold;
}

#iddesign_dashboard1--titleMain{
	font-size : 150%;
	font-weight:bold;
}