.sapUiUx3ShellCanvas{
	background-image:url("PGEbanner1.jpg")!important;
	background-size:100%;
	
	background-repeat: no-repeat;
	 
}

.mid{
	margin-top:40%;
}
.head{
	font-size:2rem!important;
	font-style:bold!important;
}
.right{
	
    margin-top:40%;
	
}
.center{
	margin-left:10%;
	
}
.right1{
	margin-left:10%;
}

.left25 {
	margin-left: 25px;
}

.orangeButton{
	background: #ffb253 !important;
	font-shadow: 0 0px 0 #ffffff !important;
}

.blueButton{
	background: #00c8f8 !important;
	font-shadow: 0 0px 0 #ffffff !important;
}